@stylez;

:root {
    --z06442a57: var(--radius-2);
    --zbf3a8096: 100%;
    --zd0cefee1: cover
}
.z_c96020f2 {
    border-radius: var(--z06442a57);
    height: var(--zbf3a8096);
    -o-object-fit: var(--zd0cefee1);
       object-fit: var(--zd0cefee1);
    width: var(--zbf3a8096)
}