@stylez;

:root {
    --z65df03a1: #000000d6;
    --zf247c030: 2;
    --z67e6a4c9: var(--gray-5);
    --z8ee39077: 5px;
    --z321b2868: block;
    --z4851c0e2: 140px;
    --zd0cefee1: cover;
    --zbf3a8096: 100%;
    --z77d72569: var(--gray-1);
    --z853f62d6: 1px solid var(--gray-5);
    --z2b20ca63: 0px 0px 10px 0px;
    --z79cbca52: 3;
    --z116dbf7e: none;
    --zafe3131f: 1
}
.z_de3b746a {
    background-color: var(--z65df03a1);
    z-index: var(--zf247c030)
}
.z_317cbb1a {
    background-color: var(--z67e6a4c9);
    border-radius: var(--z8ee39077);
    display: var(--z321b2868);
    height: var(--z4851c0e2);
    -o-object-fit: var(--zd0cefee1);
       object-fit: var(--zd0cefee1);
    width: var(--zbf3a8096)
}
.z_e3f4cd4a {
    background-color: var(--z77d72569);
    border-bottom: var(--z853f62d6);
    border-radius: var(--z2b20ca63);
    border-right: var(--z853f62d6);
    z-index: var(--z79cbca52)
}
.z_879ea9b7 {
    background-color: var(--z77d72569);
    border-bottom: var(--z853f62d6);
    -webkit-user-select: var(--z116dbf7e);
       -moz-user-select: var(--z116dbf7e);
            user-select: var(--z116dbf7e);
    z-index: var(--zafe3131f)
}