@import '@/styles/mixins';

.form {
  display: grid;
  grid-template-columns: 30% 55% 10%;
  justify-content: space-between;

  @include for-phone-only {
    grid-template-columns: 85% 10%;
  }

  input {
    font-size: 16px;
  }
}

.trigger {
  @include for-phone-only {
    display: none;
  }
}
