@import '@/styles/mixins';

.tags {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 30px;
  // min-height: 80vh;

  @include for-phone-only {
    flex-direction: column;
    gap: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 40px;
    align-content: center;

    @include for-phone-only {
      grid-template-columns: repeat(1, auto);
    }
  }
}
