@import '@/styles/mixins';

.collapse {
  background-color: var(--gray-1);
  border-right: 1px solid var(--gray-5);
  border-bottom: 1px solid var(--gray-5);
  /* box-shadow: 1px 1px 1px var(--gray-5); */
  display: grid;
  position: fixed;
  left: 0;
  top: 0;
  width: 70vw;
  height: 90vh;
  border-radius: 0px 0px 10px 0px;
  padding: 20px;
  z-index: 3;

  @include for-phone-only {
    width: 70vw;
  }

  @include for-tablet-portrait-up {
    width: 50vw;
  }

  @include for-desktop-up {
    width: 30vw;
  }
}
