@stylez;

:root {
    --z835b1f37: 0;
    --zeaa206a5: 0.25rem;
    --z51b81671: 2.5rem;
    --z116dbf7e: none;
    --zbf3a8096: 100%;
    --zcf056c5a: var(--gray-4);
    --z667f793d: 0.5rem
}
.z_4623cc05 {
    padding: var(--z835b1f37)
}
.z_d1d2cb72 {
    border-radius: var(--zeaa206a5);
    height: var(--z51b81671);
    outline: var(--z116dbf7e);
    width: var(--zbf3a8096)
}
.z_98d77615 {
    background-color: var(--zcf056c5a);
    border-radius: var(--z667f793d)
}