@stylez;

:root {
    --z04e06036: var(--gray-3);
    --z07df5472: 30px;
    --zafcac06c: red;
    --z42cdff97: 13px;
    --zf4bea7ed: 10px;
    --z33b23842: 0.8;
    --z1cd55b99: unset;
    --z827c0ca4: 50px;
    --zbf3a8096: 100%
}
.z_b2983f0b {
    background-color: var(--z04e06036);
    border-radius: var(--z07df5472)
}
.z_b046aa75 {
    color: var(--zafcac06c);
    font-size: var(--z42cdff97);
    margin-left: var(--zf4bea7ed);
    opacity: var(--z33b23842)
}
.z_336d6f47 {
    all: var(--z1cd55b99);
    height: var(--z827c0ca4);
    width: var(--zbf3a8096)
}
