@import '@/styles/mixins';

.gpt {
  max-width: 46.875rem;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.625rem;
}

.box {
  border-radius: 0.5125rem;
  padding: 2.5rem;
  border: 0.0625rem solid var(--gray-8);
}

.form {
  input {
    font-size: 16px;
  }
}

.trigger {
  @include for-phone-only {
    display: none;
  }
}

.user {
  max-width: 80%;
  justify-self: end;
  cursor: default;

  @include for-phone-only {
    max-width: 95%;
  }
}

.assistant {
  max-width: 80%;
  justify-self: start;
  cursor: default;

  @include for-phone-only {
    max-width: 95%;
  }
}
