@import '@/styles/mixins';

.gpt {
  max-width: 46.875rem;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.625rem;
}

.box {
  border-radius: 0.5125rem;
  padding: 2.5rem;
  border: 0.0625rem solid var(--gray-8);
}

.form {
  display: grid;
  grid-template-columns: 30% 55% 10%;
  justify-content: space-between;

  @include for-phone-only {
    grid-template-columns: 85% 10%;
  }

  input {
    font-size: 16px;
  }
}

.trigger {
  @include for-phone-only {
    display: none;
  }
}
